.active-nav {
    background-color: rgba(207, 222, 235, 0.704) !important;
    color: black !important;
    border-radius: 5px;
}

.footer {
    background-color: black;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}